asgiref==3.5.0
boto3==1.21.24
botocore==1.24.24
coverage==6.4.2
Django==4.0.3
django-ckeditor==6.2.0
django-cors-headers==3.11.0
django-email-verification==0.2.2
django-extensions==3.1.5
django-js-asset==2.0.0
django-storages==1.12.3
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
drf-extra-fields==3.4.0
gunicorn==20.1.0
jmespath==1.0.0
Pillow==9.0.1
psycopg2-binary==2.9.3
PyJWT==2.3.0
python-dateutil==2.8.2
pytz==2021.3
s3transfer==0.5.2
shortuuid==1.0.8
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
