$dark-bg:#1b1b1b;
$dark-btn:#222222;
$dark-text:white;
$light-bg:white;
$light-btn:#F1F1F1;
$light-text:black;


.dark_{
    background-color: $dark-bg;
    color:$dark-text;
  
  }
  
  .dark_.btn{
    background-color:$dark-btn;
    color:$dark-text
  }
  
  
  .light_{
    background-color: $light-bg;
    color:$light-text;
  
  }
  
  .light_.btn{
    background-color:$light-btn;
    color:$light-text
  }
  
