*{
  outline:0;
  text-decoration: none;
  letter-spacing: -0.003em;
  font-weight:500;

}


button{
  cursor:pointer;
}


.main{
  display:flex;
  flex-flow: column wrap;
  grid-gap:80px;
  min-height:100vh;
  max-width: 100vw;

}


.rules-div{
  display:flex;
  justify-content: center;
  flex-flow:column wrap;
  line-height: 50px;
  padding-left: 9px;
  padding-right:6px;
}

.opendiv{
  padding-left: 10px;
 

}




.openbtn{
  width:fit-content;
  height:fit-content;
  border:none;
  font-size: 18px;
  cursor:pointer;
  padding-bottom:9px;


}

.openbtn:hover{
  border-bottom:2px solid;

}



.container-div{
  display:flex;
  justify-content: center;
  align-items: flex-end;
  height:200px;
}
.sort-container{
  display:flex;
  justify-content: center;
  align-items: center;
  height:70px;
  width:500px;
  border-radius: 5px;
  gap:20px;

}


.sortby{
  display: flex;
  flex-flow:column wrap;
  justify-content: flex-start;
  gap:20px;

}

.close-btn{
  display:flex;
  justify-content: flex-end;
}



.search-container{
  display:flex;
  justify-content: center;
}





.switch{

  position:relative;
  display: inline-block;
  width:75px;
  height:50px;
  border-radius: 20px;

  
}

.switch input{
  opacity:0;
  width:0;
  height:0;
 
}


input:checked + .slider:before {
  transform: translateX(30px);
  background-color: #00e5fe;

}

.slider{

  position:absolute;
  z-index:4;
  cursor:pointer;
  top:7px;
  right: 0;
  left:0;
  bottom:0;
  transition: 0.9s;
  height:40px;
  border-radius: 24px;

}



.slider::before{
  position: absolute;
  content:"";
  height:30px;
  width:30px;
  left:10px;
  bottom:4px;
  border-radius: 20px;
  background-color: white;
}





.article-div{
  display:flex;
  justify-content:center;
 
}

.left-btns{
  display:flex;
  flex-flow:row nowrap;
}

.right-div{
  display:flex;
  justify-content: flex-end;
  align-items: flex-start;
  width:100%;
}

.description{
  width:max-content;
  height:200px;
  width:602px;
  resize:none;
  padding:30px;
  white-space: pre-wrap;
  line-break:normal;
  

}





#subart .exit{
  height:40px;
  width:80px;
}

.artcldivbtn{
  display:flex;
  width:fit-content;
  justify-content: flex-end;

}



.create-button{
  border: none;
  border-radius:4px;
  font-size: 18px;
  position:relative;
  right:10px;
  margin-left:20px;
}

.l-div{
  padding-left:20px;
  padding-right:20px;
  border: none;
  font-size:18px;
  height:fit-content;
  width:fit-content;
  border-width:fit-content;
  margin-left:10px;
  cursor:pointer;
  padding-bottom:9px;
}

.l-div:hover{
  border-bottom:2px solid;
}


.ll-div{
  padding-left:20px;
  padding-right:20px;
  border: none;
  font-size:18px;
  border:none;
  height:fit-content;
  width:fit-content;
  border-radius: 4px;
  margin-left:10px;
  cursor:pointer;
  padding-bottom:9px;
  text-align: center;
  vertical-align: center;
  padding-top:10px;

}

.pfp-div{
  display:flex;
  border: none;
  border-radius:4px;
  height:50px;
  width:90px;
  justify-content: center;
  align-items: center;

}

.pfp-div img{
  width:90px;
  height:50px;

}
.top-left{
  padding-left:20px;
  padding-right:20px;
  padding-top:15px;
  padding-bottom:15px;
  border: none;
  border-radius:4px;
  font-size: 18px;
  height:50px;

}


.navig-side{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top:0;
  left:0;
  padding:10px 10px 10px 10px;
}

.breaker{
  margin-left: 20px;
}




.hide-show{
  position: absolute;
  bottom:56px;
  left:145px;
}

.user-artcls{
  display:flex;
  flex-flow: column nowrap;
  border-radius: 8px;
  text-align: center;
  padding-bottom:20px;
  margin-bottom:13px;
  width:550px;
  transition:all 0.4s ease-in-out;
}

.l-div1{
  padding-left:40px;
  padding-right:20px;
  padding-top:15px;
  padding-bottom:15px;
  transition: all 0.2s ease;
  border: none;
  border-radius:4px;
  font-size: 18px;
}

.tag-sec{
  font-size: 17px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height:22px;
  margin-left:14px;
  margin-top:14px;
  padding-bottom:14px;
  padding-left:7px;
  background-color: inherit;
  border:none;
  border-radius: 3px;
}










.parent-grid{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  grid-gap:20px;



}



.articles{
  display:flex;
  border:none;
  flex-flow: column nowrap;
  border-radius: 4px;
  text-align: left;
  width:350px;
  height:fit-content;
  transition:all 0.4s ease-in-out;
 

}

.title{
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left:14px;
  font-size:18px;
  font-weight: 750;

}

.image{
  display:flex;
  justify-self: center;
  width:100%;
  height:190px;
  border:0;
  outline:none;
  border-radius: 4px;


}

.filter-dialog{
  display:flex;
  flex-flow: column wrap;
  gap:40px;
}



.filter-input{
  display:flex;
  justify-content: center;
  width:400px;
  padding-top: 1px;
}

.selection-btns{
  display:flex;
  flex-flow:row wrap;
  gap:10px;
  padding-left:18px;
  padding-bottom:18px;
}


.cancel-button{
  background-color:#ffcc80;
  color:#f57c00;
  border:none;
  outline: none;
  border-radius: 11px;
  width: fit-content;
  height: 35px;
  font-size: 17px;

}
.separator{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    height: -moz-fit-content;
    height: fit-content;

}


.separator img{
  border-radius:50%;
  width:30px;
  height:30px;
  position:relative;
  top:10px;

}

.separator .date{
  padding-right: 14px;
}


.separator .user{
  padding-left:14px;
}

.separator .userinfo{
  display:flex;
  justify-content: flex-start;
}


.exit{
  position:absolute;
  top:0;
  right:0;
}


.imglbl{

  padding: 10px 10px 10px 10px;
  border:1px solid;
  cursor: pointer;
  border-radius: 4px;
  width:150px;

}

.img0{
  opacity:0;
  pointer-events: none;
}



.tag-sel{
  background-color: dodgerblue;
  border-color:dodgerblue;
  height:40px;
}




.chars{
  position: relative;
  bottom: 6px;
}

.tag-sel:focus{
  background-color:#1F51FF;
  border-color: #1F51FF;

  
}

.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: fit-content;
  width: fit-content;
  border-radius: 8px;
  padding:24.7px 15.6px 24.7px 15.6px;
  row-gap: 20px;
  


}

#loginform{
  border-radius:5px;
}


.errors{
  display:flex;
  white-space: pre-line;
  text-align: center;
  line-height:40px;
}


.displays{
  display:flex;
  flex-flow:row wrap;
}


.login-page{
  align-items: center;
  display: flex;
  justify-content: center;
  height:100vh;
}

.article-submit{
  display:flex;
  width:160px;
  height:40px;
  align-self:center;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  background:transparent;
  border-radius:4px;
  outline:0;
  box-shadow: 0;
  border:none;

}

.artcl-sub-div{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top:20px;
}


.bottom{
  position:relative;
  top:50%;
  display:flex;
  flex-flow: column-reverse wrap;
  justify-content: space-between;

  background-color: white;
}

.title-div{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:column wrap;
}


.title-inp{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  transition: 0.3s ease-in-out all;

}

.title-inp:focus{
  border-color:inherit;

}


.title-img{
  display:flex;
  flex-flow: column wrap;
  justify-content: flex-start;

}


.dialog-content{
  height:1000px;
}

.dialog-form{
  display:flex;
  justify-content: space-between;
  flex-direction: column;

}
.img-inp{
  display:none;
}



@keyframes typing{
  from {width:0%}
  to{width:100%;}
}


.img-div{

}

.pfp-inp{
  position:absolute;
  right:40%;
  width:300px;
  height:300px;
  opacity:0;
}

.user-articles{
  display:flex;
  justify-content: center;
  flex-flow:column wrap;
  align-items: center;
}


.the-img{
  border-radius:50%;
  height:150px;
  width:150px;

}



.pfp-inp:hover{
  cursor:pointer;
  background-image:'https://visualpharm.com/assets/135/Add%20Image-595b40b85ba036ed117dbead.svg';

}


.profile-div{
  height:100vh;
}

.userinfo-div{
  display:flex;
  flex-flow:column wrap;
  justify-content: center;
  align-items: center;
  width:30%;
  border:none;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom:50px;
  padding-left:20px;
  padding-bottom:20px;
  padding-top:20px;
}

.userinfo-div h3{
  color:rgb(139, 135, 135);

}
.userinfo-div-wrapper{
  display:flex;
  justify-content: center;
}

.password{
  width:300px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  color: #d3d3d3;
  gap: .5em;
  border-radius: 4px;
  padding: .5em 1em;

}


.email-inp{
  width:300px;
  height:40px;
  border:none;
  border-radius: 5px;
  border:1px black solid;
  outline:none;
  border-color:grey;
  text-align: center;
}


.reset-button{
  border-radius:5px;
  width:300px;
  height:40px;
  border:none;

}

.email:focus::placeholder{
  opacity:0;
  transition: opacity 0.45s;
}
.password:focus::placeholder{
  opacity:0;
  transition: opacity 0.45s;
}
.email{
  width:300px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  gap: .5em;
  border-radius: 4px;
  padding: .5em 1em;
 
}

.loginbtns{
  display:flex;
  align-self:center;
  align-items: center;
  justify-content: center;
  margin-top:20px;
}


.login-submit{
  outline: none;
  overflow:none;
  border-radius: 4px;
  border:none;
  background-color: #26e7f1;
  height:40px;
  width:140px;
  margin: 1rem;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  background-color: #ffeba7;
  color: #5e6681;
  box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
  transition: all .3s ease-in-out;

}



.login-submit:hover{
  background-color: #4fced5;
  color:wheat;
}

.nuserbtn:hover{
  background-color: #9D00FF ;

}
.user-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  overflow:none;
  border-radius: 4px;
  border:none;
  height:40px;
  width:140px;

  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}


.signup-page{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:column wrap;
  height:100vh;
  
}


.form-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.signup-form{
  display:flex;
  justify-content:center;
  align-items: center;
  flex-flow: column wrap;
  padding:24.7px 15.6px 24.7px 15.6px;
  row-gap: 20px;
  border-radius: 5px;

  
}



.signupsbmt{
  width:150px;
  height:40px;
  border:none;
  border-radius: 5px;
  outline: none;
  transition: all .3s ease-in-out;
  
}

.pass-valid-div{
  display:flex;
  justify-content:center;
  flex-flow:column wrap;
  font-size:14px;
  font-weight:300;
}

.pass-valid-div div{
  border-radius:5px;
  width:170px;
}


.username{
  width:300px;
  font-size: 16px;
  border: none;
  outline: none;
  gap: .7em;
  border-radius: 4px;
  padding: .5em 1em;

}

.username:focus::placeholder{
  opacity:0;
  transition: opacity 0.45s;

}

.password-inp{
  width:300px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  gap: .5em;
  border-radius: 4px;
  padding: .5em 1em;


}


.article-user{
  display:flex;
  justify-content: flex-start;
  font-size: 24px;
  gap:10px;

}




.article-tag{
  height:fit-content;

}

.article-tag span{
}


.paginator{
  display:flex;
  justify-content: center;
  width:100%;
  flex-flow: row nowrap;
  cursor:pointer;
  padding: 20;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}


.article-date{
  height:fit-content;
}

.end-of-article-div{
  display:flex;
  flex-flow:column wrap;
  gap:20px;
  padding-left:12px;
}

.article-img{
  height:450px;
  width:800px;
  border-radius: 6px;
  

}



.article-title{
  display:flex;
  justify-content: center;
  border:none;
  padding-top:100px;
  padding-left:100px;
  padding-right:100px;

}
.article-title h1{
  display:block;
  font-weight: 400;
    font-size: 65px;
    line-height: 1.4;
    margin: 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:#fff;



}


.left-article-side{
  display:flex;
  justify-content: flex-start;
  flex-flow:column wrap;
  padding-right:100px;
}

.top-left-side{
  display:flex;
  flex-flow:row nowrap;
  height:fit-content;
  gap:20px;
  font-size: 20px;
}

.article-date{
  width:100px;
  color:rgb(188, 185, 185);
}

.article-info-div{
  display:flex;
  justify-content: flex-start;
}

.reset-page-div{
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  grid-gap:10px;
  height:100vh;
  
}

.reset-page-div h1{
  padding-bottom: 24px;
}

.pass_change{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap:10px;
  height:100vh;
  width:100vw;
}

.pass_change input{
  border-top:none;
  border-right:none;
  border-left:none;
}

.article-desc{
  border:none;
  line-height: 32px;
  font-size:26px;
  padding:16px;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-weight: 400;
}

.article-desc-div{
  padding-left:100px;
  padding-right:100px;
  padding-top:100px;
  padding-bottom:100px;
}

.article-desc img{
  max-width: 100%;
  max-height: 100%;
}


.cmnt-div{
  padding-left: 32px;
}

.cmntsec{
  padding-left:25px;
  padding-bottom:10px;
  border-left:3px solid grey;
  margin-bottom:100px;
  margin-top:70px;



}


.profile-img{
  border-radius: 50%;
  height:45px;
  width:45px;

}

.csub{
  padding-bottom:20px;

}


.comment-section{
  display: grid;

  

}

.comment-section h1{
  padding-left:50px;
  padding-top:40px;
}

.csub{
  display: grid;
  grid-gap:10px;
}


.comment-section h1{
  font-family:Arial, Helvetica, sans-serif;
}

.comment-section textarea{
  height:320px;
  width:620px;
  resize:none;

}

.comment-section button{
  width:200px;
  height:40px;
  background-color:#FFFFFF;
  border:none;

}

.twobtns{
  display: flex;
  justify-content: flex-end;
  gap:10px;
  padding-right: 20px;
}
.edit-btn{
  width:120px;
  border:none;
  border-radius:2px;
  height:45px;


}


.edit-profile-div form{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:column wrap;
  height:420px;
  gap:20px;
  width:400px;

}


.edit-img{
  width:150px;
  height:150px;
}


.create-article-wrapper{
  display:flex;
  justify-content: center;

 
}

.main-containers-div{
  display:flex;
  justify-content: center;
  flex-flow: column wrap;
}

.create-article-div{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:5px;
}

.create-article-input{
  width:160px;
  height:60px;
  font-size:16px;
  font-weight: 500;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius:4px;
  outline:none;
  border:none;

}

.create-article-input:hover{
  background-color: black;
  color:white;
}

.edit-profile-div button{
  border:none;
  width:150px;
  height:44px;
  border-radius: 3px;
}

.bio-inp{
  border:none;
  border-bottom: black solid 1px;

}

.editor{
  background-color: white;
  width:80%;
  color:black;
}

.tag{
  display: flex;
  justify-content: flex-end;
  height: fit-content;
}

.upper-side{
  display:flex;
  justify-content: space-around;
  flex-flow:row nowrap;
}

.texteditor{
  height:400px;
}

.editor-div{
  display: flex;
  justify-content: center;
}
.navi{
  display:flex;
  padding-top:10px;
}

.delete-btn{
  background-color: red;
  color:white;
  font-weight: 500;
  width:120px;
  border:none;
  border-radius:2px;
  height:45px;
}


.comment-section button:hover{
  background-color:#A3ADBD ;

}
.cmnt-user{
  font-size: 20px;
  color:#1F51FF;
  display:flex;
  flex-flow:row nowrap;
  gap:10px;
  position:relative;
  bottom:45px;
  right:50px;
}

.cmnt-date{
  font-size: 14px;
  color:grey;
  position:relative;
  bottom:60px;
}


.cmntinfo{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
}
.descmnt{
  font-size: 16px;
}


.item {
  align-items: center;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width:10px;
}

.disabled-page {
  color: #808e9b;
}

.active {
  border: solid 1px #808e9b;
  border-radius: 10px;
  background-color: inherit;
}

.break-me {
}

.next {
  border-left: solid 1px #808e9b;
  font-size: 4px;
  height: 60px;
  position: absolute;
  right: 0;
  width: 150px;
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;

  list-style-type: none;
  position: relative;
  width: 1000px;
}

.paginator ul li{
  padding-left:20px;
  padding-right:20px;
}

.pagination-page {
  font-weight: 700;
}

.previous {
  border-right: solid 1px #808e9b;
  font-size: 4px;
  height: 60px;
  left: 0;
  position: absolute;
  width: 150px;
}

.nav-div{
  display:flex;
  flex-flow: column wrap;
  gap:12px;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:50px;
  padding-right:20px;
}

.nav-div-left{
  display:flex;
  justify-content: flex-start;
  flex-flow:row nowrap;
  padding-top:10px;
  padding-right:10px;

}

.nav-div-right{
  display:flex;
  flex-flow:row nowrap;
  justify-self:flex-end;
  width:100%;


}



.space-div{
  width:0%;
}

.result-button{
  display:flex;
  flex-flow:column wrap;
  width:100%;

}


.result-div{
  padding-top:10px;
  padding:0;
  width: 1000px;

}

.results-div{
  display:flex;
  justify-content: center;
  flex-flow:column wrap;
}

.searchp-div{
  display:flex;
  justify-content: center;
  flex-flow:column wrap;

}

.search-input{
  border:none;
  border-radius: 4px;
  width:140px;
  height:40px;
  text-align: center;

}

.search-input:focus{
  border-color:rgb(83, 83, 255);
}

.footer-container{
  display:flex;
  align-items:flex-end;
  height:100%;
}

.close-btn{
  position:relative;
  right:70px;
  bottom:-3px;
  width:70px;
  height:72px;
  border:none;
  background-color: black;

}
.search-btn{
  border-radius:50px;
  height:100px;
  width:100px;
  border:none;

}

.date-div{
  width:70px;
  height:50px;
}


/*
.search-div input{
  width:360px;
  height:20px;
  border-radius:8px; 
  border:none;

}
*/





.footer-wrapper{
  display:flex;
  width:100%;
  align-items:flex-end;
  height:100%;
}

.footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
  height:90px;

}




.social-media{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-around;
  width:10%;
 
}

.fs{
  cursor: pointer;
}


